%item-style {
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 10px;
  font-size: 15px;
}

%margin-left-right {
  margin: 0 20px;
}

%card-info-margin {
  margin: 0 10px;
}

%section-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 2px 0;
}

%mia{
  @extend %card-info-margin;
  font-size: 0.7em;
  margin-bottom: -13px;
  margin-top: 10px;
  font-weight: bolder;
}

//=================================================================

body {
  background-image: linear-gradient(to bottom right, rgb(243,41,66), rgb(248, 156, 18));
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0 0;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %margin-left-right;
}

.student{
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 0.7em;
}

.student-filter {
  @extend %margin-left-right;
  margin-top: 10px;
}

.filter-inner-one, .filter-inner-two {
  display: flex;
  justify-content: flex-start;
}

#two, #three {
  @extend %item-style;
}

#span1, #span2 {
  @extend %item-style;
  height: 25px;
  margin-bottom: 5px;
}

#span3 {
  @extend %item-style;
  height: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#span-profile {
  display: flex;
  align-items: center;
}

#img-down-arrow {
  margin-left: 10px;
}

.blue-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(38,29,138);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inner-blue-section-wrapper { 
  display: flex;
  flex-direction: column;
  @extend %margin-left-right;
}

.section-card {
  @extend %section-card;
}

.blue-section-card {
  background-color: #372CB6;
  border-left: 3px solid #00AEFF;
}

.yellow-section-card {
  background-color: #372CB6;
  border-left: 3px solid #FFC600;
}

.green-section-card {
  background-color: #372CB6;
  border-left: 3px solid #00FF78;
}

.red-section-card {
  background-color: #372CB6;
  border-left: 3px solid #F0253D;
}

.grade-class-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notification-date {
  margin-left: 20px;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.637);
}

#ocjena {
  @extend %card-info-margin;
  font-size: 0.7em;
  color: #00AEFF;
  margin-bottom: -13px;
  margin-top: 10px;
  font-weight: bolder;
}

.class {
  @extend %card-info-margin;
  font-size: 0.9em;
}

.grade2 {
  @extend %card-info-margin;
  font-size: 0.7em;
  margin-top: -5px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.637);
  font-weight: bold;
}

.grade-desc {
  @extend %card-info-margin;
  font-size: 0.7em;
  margin-top: -5px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.637);
}

#circle {
  @extend %card-info-margin;
  position: relative;
}

.number-in-picture {
  position: absolute;
  top: -22px;
  left: 12px;
  font-size: 1.5em;
  color: rgb(38,29,138);
}

.dot-in-circle {
  position: absolute;
  top: 0px;
  left: 27px;
}

.fullcircle-2 {
  position: relative;
  visibility: hidden;
}

.unreg-mia{
  @extend %mia;
  color: #FFC600;
}

.sat {
  @extend %card-info-margin;
  font-size: 0.7em;
  margin-top: -5px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.637);
  font-weight: bold;
}

.reg-mia {
  @extend %mia;
  color: #00FF78;
}

.full-unreg-mia {
  @extend %mia;
  color: #F0253D;
}

.fullcircle {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}